h1, span {
    color: red;
    text-align: center;
}

body {
    background-color: grey;
}

#omino-che-saluta {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: auto;
    border-radius: 100%;
    vertical-align: center;
}